<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMA</title>
    @Styles.Render("~/Content/css")    
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/bundle/styles")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-controller="AppCtrl" style="height: 100%; width: 100%; margin: 0;font-family:'Times New Roman'">
    <div class="app" id="app"
         ui-view></div>   
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li><a ui-sref="app.dashboard">Dashboard</a></li>
                        <li><a ui-sref="app.Test">Test</a></li>
                        @*<li><a ui-sref="app.CreateUser">Create User</a></li>*@
                 <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href>User <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.CreateUser">Create User</a></li>
                            @*<li><a ui-sref="app.EditUser">Edit User</a></li>*@
                            <li><a ui-sref="app.UserList">User List</a></li>
                            <li><a ui-sref="app.MonthlyActivatedUser">Monthly Activated User</a></li>
                        </ul>
                    </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href>Bazar & Meal <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="app.BazarExpense">Bazar Expense</a></li>
                                @*<li><a ui-sref="app.EditUser">Edit User</a></li>*@
                                <li><a ui-sref="app.BazarCollection">Collection</a></li>
                                <li><a ui-sref="app.MealManagement">Meal Management</a></li>
                                <li><a ui-sref="app.BazarProcess">Process</a></li>
                                <li><a ui-sref="app.BazarReports">Report</a></li>
                            </ul>
                        </li>
                  </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
    @RenderBody()    
        <footer style="position:fixed;text-align:center;color:white;bottom:0;width:100%;background:linear-gradient(to bottom right, ForestGreen,Green);z-index:1;font-family:'Times New Roman';font-style:italic">
            <span>@DateTime.Now.Year Bazar Management Application Made By <b>{{Name}}</b></span>
            @*<span>&copy; </span>*@   
            <div onload="display_ct()">
                Today, <span id="ct"></span>
                @*<input type="hidden" id="InstituteId" value="78">
            <input type="hidden" id="InstituteNameHidden" value="STTP">*@
            </div>         
        </footer>   
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jsFixed1")
    @Scripts.Render("~/bundles/jsChangeable")
    @Scripts.Render("~/bundles/jsFixed2")   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    @*<script src="https://code.highcharts.com/highcharts.js"></script>*@
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://MomentJS.com/downloads/moment.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
    function display_c() {
        var refresh = 1000; // Refresh rate in milli seconds
        mytime = setTimeout('TimeDate()', refresh)
    }
    //}
    //display_ct() ;
    function TimeDate() {
       // alert("test");
        var a = new Date();
        var b = moment(a).format('MMMM Do YYYY, h:mm:ss a');
        //console.log(b);
        document.getElementById('ct').innerHTML = moment(new Date()).format('MMMM Do YYYY, h:mm:ss a');
        display_c();
    }
    TimeDate();
    </script>
</body>
</html>
